@{
    ViewData["Title"] = "Créditos";
}

<h1>Créditos</h1>
<hr />
<div class="row">
    <ul>
        <li>
            <h3><strong>Matheus Henrique Palinkas dos Santos - CB3015718</strong></h3>
        </li>
        <li>
            <h3><strong>João Paulo Tavares da Silva - CB3015513</></h3>
        </li>
    </ul>
</div>